#hero{
  padding-top: 25px;
  padding-bottom: 25px ;  
}
.hero-content{
display: flex;
align-items: center;


}

.main-text{
    flex: 1;
}
.main-text h1{
    font-size: 48px;
    color: #173A56;
    font-weight: 700;
    margin-bottom: 20px;
}
.main-text p{
    font-size: 18px;
    color: #5A7184;
    margin-bottom: 30px;
    line-height: 1.6;
}
.zet{
    background-color: #02897A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}
.zet:hover{
    background-color: #af0707;
    transition: 0.4s;
}
.get{
    background-color: rgb(255, 255, 255);
    color: rgb(9, 9, 9);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.get:hover{
    background-color: rgb(194, 196, 210);
    transition: 0.4s;
}
.main-rasm{
    flex: 1;
    text-align: right;
}
.main-rasm img{
    max-width: 100%;
    height: auto;
}
.img{
max-width: 600px;
width: 100%;
flex-wrap: wrap;
}
.img:hover{
    transform: scale(1.05);
    transition: 0.4s;
    cursor: pointer;
} 
@media (max-width: 768px) {
    .hero-content{
        flex-direction: column;
        text-align: center;
    }
    .main-rasm{
        margin-top: 30px;
        text-align: center;
    }
}  



